<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="server.db.primary.mapper.map.RoleMapper">
  <resultMap id="BaseResultMap" type="server.db.primary.model.map.Role">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="MARK" jdbcType="DECIMAL" property="mark" />
    <result column="STIME" jdbcType="TIMESTAMP" property="stime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ROLE_NAME, REMARK, MARK, STIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from FOOD.ROLE
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from FOOD.ROLE
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="server.db.primary.model.map.Role">
    insert into FOOD.ROLE (ID, ROLE_NAME, REMARK, 
      MARK, STIME)
    values (#{id,jdbcType=DECIMAL}, #{roleName,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{mark,jdbcType=DECIMAL}, #{stime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="server.db.primary.model.map.Role">
    insert into FOOD.ROLE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="roleName != null">
        ROLE_NAME,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="mark != null">
        MARK,
      </if>
      <if test="stime != null">
        STIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="mark != null">
        #{mark,jdbcType=DECIMAL},
      </if>
      <if test="stime != null">
        #{stime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="server.db.primary.model.map.Role">
    update FOOD.ROLE
    <set>
      <if test="roleName != null">
        ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="mark != null">
        MARK = #{mark,jdbcType=DECIMAL},
      </if>
      <if test="stime != null">
        STIME = #{stime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="server.db.primary.model.map.Role">
    update FOOD.ROLE
    set ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      MARK = #{mark,jdbcType=DECIMAL},
      STIME = #{stime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=DECIMAL}
  </update>

  <select id="selectById" resultMap="BaseResultMap" >
     select id,role_name from role
     order by id
  </select>
</mapper>